<g>
    <line 
        x1 = "-5"
        y1 = "95"
        x2 = "100"
        y2 = "95"
        style="stroke:rgb(0,0,0);stroke-width:0.5;opacity:1"
    /> 
    <g ng-repeat = "tick in ticks">
			<line  
		  		ng-attr-x1 = "{{tick.x}}" 
                y1 = "95" 
                ng-attr-x2 = "{{tick.x}}" 
                y2 = "-3" 
                style="stroke:rgb(0,0,0);stroke-width:0.5;opacity:0.1"
		   	/>
		   	<text text-anchor="middle"
		          ng-attr-x="{{tick.x}}" 
                  y="98" 
                  fill="Black" 
                  transform=""  
                  font-size = "3">{{tick.text}}
		    </text>
	</g>
</g>