<div style="float:left">
<svg ng-attr-width = "{{width}}" height = "500" viewBox = "-5 0 110 100" preserveAspectRation="none">
    <g ng-repeat = "rect in pts">
    <rect 
       class='bar_{{color($index)}}'
       ng-repeat = "pt in rect"
       ng-attr-x = "{{pt.x}}"
       ng-attr-y = "{{pt.y}}"
       ng-attr-height = "{{95-pt.y}}"
       ng-attr-width = "{{barSize}}"
       ng-attr-fill = "{{color($parent.$index)}}"
       stroke = "black",
       stroke-width = "0.5"    
    >
     <animate attributeName="height" from="0" ng-attr-to="{{95-pt.y}}" dur="1.5s"/>    
    </rect>
    
    </g>
    <axis xticks = "xticks" yticks = "yticks"></axis>
</svg>
</div>