<div style='overflow:auto' >
<svg id="linechart" ng-attr-width = "{{width}}" ng-attr-height = "{{height}}" ng-attr-view_box="{{viewbox}}">
    <g ng-repeat = "pt in pts">
        <polyline 
            class='{{keys[yColumn[$parent.$index]]+"."+$index}}'
            ng-attr-points = "{{pt.path}}"
            fill = 'none' 
            ng-attr-stroke = "{{color($index)}}"
            ng-attr-stroke-width = "{{linesize}}"
            ng-attr-xcolumn = "{{xcolumn}}"
            ng-attr-ycolumn = "{{ycolumn}}"
            ng-attr-theme = "{{theme}}"  >
        <animate attributeName="points" dur="1.5s"
                ng-attr-from="{{pt.animation}}"
                ng-attr-to="{{pt.path}}"
        />    
        
    </polyline>
    
    </g>
    <axis xticks = "xticks" yticks = "yticks" width = "{{width}}" height = "{{height}}" fontsize = "{{fontsize}}" xaxisname = "{{xaxisname}}"></axis>
</svg>
    <div style='float: left; border:1px solid black;' align = center>LEGEND
        <li ng-repeat = "y in yColumn">
            <font ng-attr-color="{{color($index)}}">{{keys[y]}} </font> 
        </li>
        
    </div>
</div>