<div style="float:left">
<svg ng-attr-width = "{{width}}" ng-attr-height = "{{height}}" ng-attr-view_box="{{viewbox}}">
    <g ng-repeat = "y in yColumn.slice().reverse()">
    <rect ng-repeat = "pt in pts"
       ng-attr-x = "{{pt[keys[xColumn]]}}"
       ng-attr-y = "{{pt[keys[y]]}}"
       ng-attr-height = "{{height*0.95-pt[keys[y]]}}"
       ng-attr-width = "{{barSize}}"
       ng-attr-fill = "{{color($parent.$index)}}"
       stroke = "black",
       stroke-width = "0.5"   
    >
     <animate attributeName="height" from="0" ng-attr-to="{{height*0.95-pt[keys[y]]}}" dur="1.5s"/>    
    </rect>
    
    </g>
    <axisbar xticks = "xticks" yticks = "yticks" width = "{{width}}" height = "{{height}}" fontsize = "{{fontsize}}"></axisbar>
</svg>
</div>