<div style='overflow:auto' >
<svg id="stackchart" ng-attr-width = "{{width}}" ng-attr-height = "{{height}}" ng-attr-view_box="{{viewbox}}">
    <g ng-repeat = "y in yColumn.slice().reverse()">
    <rect 
       class='{{keys[yColumn[$parent.$index]]+"."+$index}}'
       ng-repeat = "pt in pts"
       ng-attr-xAxis = '{{pt.xaxis}}'
       ng-attr-x = "{{pt[keys[xColumn]]}}"
       ng-attr-y = "{{pt[keys[y]]}}"
       ng-attr-height = "{{height*0.95-pt[keys[y]]}}"
       ng-attr-width = "{{barSize}}"
       ng-attr-fill = "{{color($parent.$index)}}"
       stroke = "black"
       stroke-width = "0.5" 
       ng-attr-xcolumn = "{{xcolumn}}"
       ng-attr-ycolumn = "{{ycolumn}}"
       ng-attr-theme = "{{theme}}"
          rx="10" ry="10"
          
       ng-click="onclicks($event,pt)"
       onmouseover = "this.style.opacity='.5'"
       onmouseout = "this.style.opacity='1.0'"
        cursor = "{{cursorstyle}}"
    >
     <animate attributeName="height" from="0" ng-attr-to="{{height*0.95-pt[keys[y]]}}" dur="1.5s"/>    
         <title>{{pt['orgdata'][keys[yColumn[$parent.$index]]]}}</title>
    </rect>
    
    </g>
     <axis xticks = "xticks" yticks = "yticks" width = "{{width}}" height = "{{height}}" fontsize = "{{fontsize}}" xaxisname = "{{xaxisname}}"></axis>
</svg>
   <div style='float: bottom;margin-right:25%' align = center>
        <g ng-repeat = "y in yColumn">
            <font ng-attr-color="{{color($index)}}">&block; {{keys[y]}}</font> 
        </g>
        <div style="float: left; margin-left: 25%">
            <g ng-click = "previousclick($event)"           
               onmouseover = "this.style.color='green'"
               onmouseout = "this.style.color='blue'"
               style="cursor:pointer; color:blue; size:15" >{{previousfilename}} </g>
            <g>&squf;{{filecurrent}}</g><g>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{xaxisname}}</g>
        </div>
    </div>
</div>